@font-face {
    font-family: 'Calibri';
    src: url('chrome-extension://pnichcbbeibbccpepibfgdlakghphlgl/assets/fonts/calibre/CalibreRegular.otf') format('opentype');
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('chrome-extension://pnichcbbeibbccpepibfgdlakghphlgl/assets/fonts/OpenDyslexic-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('chrome-extension://ccmlnoaoobnogkfmccchhiogagejagod/assets/fonts/OpenSans-Regular.otf') format('opentype');
}
